.main__block-3 {
  text-align: center; 
  margin: 200px auto 100px;
}
.block-3_signature {
  margin-top: 30px;
  text-align: center;
  color: #8993ad;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
}