#slider_container {
margin: 0 auto;
width: 1170px;
overflow: hidden;
}


/* Контейнер с маркерами */ 
.owl-dots {   
text-align: center;   
margin: 100px 0; 

}  
/* Сам маркер Здесь body в начале, чтобы заменить стили, которые указаны в самом плагине */ 
.owl-dots button.owl-dot {   
width: 15px;   
height: 15px;   
border-radius: 50%;     
margin: 0 3px; 
background: #8993ad;
border: 0;
outline: none;
}  
/* Активный маркер */ 
.owl-dots button.owl-dot.active {   
background: #ff8f5a; 
outline: none;
}


.owl-carousel img{
  width: 370px;
  height: 290px;
  padding: 0 15px;
}

button.owl-prev span {
  display: none;
}

 .js-prev, .js-next{
  position:absolute;
  top:100px;
  display:block;
  width:60px;
  height:60px;;
  cursor:pointer;
  background:url(../img/arrow.png) no-repeat center;
  border: 0;
  border-radius: 50%;
  outline: none;
  z-index: 5;
  box-shadow: 0 0 15px #8993ad;
}
.js-prev{
  left:-20px;
}
.js-next{
  right:-20px;
  transform: rotate(180deg);
}
.main__slider {
  position: relative;
  margin: 0 auto;
  width: 1170px;
}

@media (max-width: 1024px) {
         #slider_container {
          width: 945px;
        }
         .main__slider {
          width: 945px;
        }
         .bullets {
          display: block;
          left: 300px;
        }
         .prev, .next{
          display: none;
        }
         .owl-carousel img{
          width: 455px;
          height: 350px;
        }
} 
@media (max-width: 900px) {
         #slider_container {
          width: 820px;
        }
         .main__slider {
          width: 820px;
        }
         .owl-carousel img{
          width: 390px;
          height: 320px;
        }
} 
@media (max-width: 720px) {
         #slider_container {
          width: 280px;
        }
         .main__slider {
          width:280px;
        }
         .owl-carousel img{
          width: 280px;
          height: 250px;
          padding: 0;
        }
         .bullets {
          left: 130px;
        }
         .owl-dots button.owl-dot:nth-last-child(-n+3) {
          display: none;
        }
         .owl-dots {
          margin: 50px 0;
        }
      

}
