.main__block-4 {
  width: 100%;
  
  background: linear-gradient(to right top, #ff8f5a, #ff2f96);
  color: white;
  font-family: Roboto, sans-serif;
}
.s-grid {
  max-width: 970px;
  margin: 0 auto;
  padding-top: 88px;
  padding-bottom: 90px;
}
.main__block-4 h2 {
  font-size: 44px;
  margin-bottom: 42px;
}
.star {
  display: flex;
}
.one-star {
  padding-right: 0.4rem;
}