
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v20-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('fonts/roboto-v20-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto-v20-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
       url('fonts/roboto-v20-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/roboto-v20-latin_cyrillic-900.svg#Roboto') format('svg'); /* Legacy iOS */
}
html {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;

    background-color: #f9f9f9;
    
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 1.429;
    color: black;
}

img {
    max-width: 100%;
}
 
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h2 {
  margin: 0;
}
p {
  font-size: 18px;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  line-height: 2;
}
.lg-grid {
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  overflow: hidden;
}
.popup-container {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 10;
}
.popup {
  width: 450px;
  height: 500px;
  background: white;
  padding: 50px 20px;
  margin: 100px auto;
  border-radius: 30px;

}
.family-name, .telephone-number, .e-mail, .popup-button {
  display: block;
  font-family: Roboto, sans-serif;
  Width: 400px;
  height: 40px;
  margin: 0 auto 50px;
  border-radius: 20px;
  border: 0;
  box-shadow: 3px 2px 6px #8993ad;
  padding-left: 25px;
  outline: none;
}
.popup .e-mail {
  margin-bottom: 30px;
}
.popup .popup-button {
  background: #ff4e2e;
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  width: 250px;
  height: 70px;
  border-radius: 50px;
  padding-left: 0;
}
.popup h2 {
  color: #ff4e2e;
  margin-top: 0;
  font-family: Roboto, sans-serif;
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
}
.popup label {
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
}
.popup label a {
  border-bottom: 1px solid;
}
.popup span {
  font-family: Roboto, sans-serif;
  color: #8993ad;
  font-size: 14px;
}











@media (max-width: 1800px) {
         .d7 {
          display: none;
        }
}
@media (max-width: 1550px) {
         .d10 {
          display: none;
        }
}
@media (max-width: 1250px) {
         .main__name {
          margin-left: 0;
          padding-left: 50px;
        }
         .header__center {
          padding-left: 2rem;
          padding-right: 2rem;
          flex-wrap: wrap;
        }
        .footer__menu {
          margin-left: 20px;
        }
         .d6 {
          display: none;
        }
         .main__photo-block {
          margin-left: 620px;
        }
         .main__surname {
          font-size: 60px;
        }
}
@media (max-width: 1024px) {
        .header__menu_left {
          display: none;
          order: 3;
          margin-left: 22px;
          margin-top: 22px;

        }
        .button_orange {
          margin-top: 46px;
        }
        .button_invisible {
          display: block;
        }
        .header__menu_right {
          max-width: initial;
        }
        html {
          font-size: 12px;        
        }
        .main__photo-block {
          margin-left: 500px;
        }
        .part-do-icons {
          margin-bottom: 50px;
        }
        .main__icons {
          flex-wrap: wrap;
        }
        .main__block-2 .button-orange {
          margin-top: 0;
        }
        .block-3__fishing {
          display: none;
        }
        .main__block-3 .button {
          margin-top: 0;
        }
        .block-3__examples {
          justify-content: center;
        }
        .block-3_signature {
          font-size: 25px;
        }
        .dots {
          display: block;
        }
        .block-3_arrow {
          display: none;
        }
        .block-3_examples > div {
          margin-right: 0;
        }
        .block-3__vera {
          margin: 0 20px;
        }
        .block-3__kids-clothes {
          margin-right: 20px;
        }
        .star p {
          font-size: 1.8rem;
        }
        .main__surname {
          font-size: 50px;
        }
        .main__slider .js-prev, .main__slider .js-next {
          display: none;
        }
        .s-grid {
          padding: 88px 20px 90px;
        }
        .main__block-4 h2 {
          font-size: 40px;
        }
}
@media (max-width: 930px) {
        .d1 {
          display: none;
        }
}
@media (max-width: 900px) {
        html {
          font-size: 11px;
        }
        .part-do-icons {
          min-width: inherit;
        }
        .icon-mail-alt:after {
          font-size: 16px;
        }
        .icon-phone:after {
          font-size: 18px;
        }
        .footer__center_icon {
          margin-bottom: 20px;
        }
        .main__photo-block {
          margin-left: 390px;
        }
        .main__surname {
          font-size: 40px;
        }
}
@media (max-width: 800px) {
        html {
          font-size: 11px;
        }
        .footer__center {
          margin-left: 20px;
          margin-right:20px;
        }
        .footer__right {
          margin-left: 20px;
        }
}

@media (max-width: 720px) {
         .header__center {
          padding-left: 0;
          padding-right: 0;
          padding-top: 13px;
        }
        .header_number {
          font-size: 18px;
        }
        .button_phone {
          display: block;
        }
        .header__center {
          flex-wrap: wrap;
        }
        .svg {
          min-width: 320px;
        }
        .main__name {
          position: inherit; 
          width: 100%;
          text-align: center;
          padding-left: 0;
          margin-top: 40px;
        }
        .main__frontend-developer {
          font-size: 2.8rem;
        }
        .main__photo-block {
          order: -1;
          margin: 0; 
          width: 100%;
        }
        html {
          font-size: 12px;
        }
        .header__menu_right .button_pink-border {
          display: none;
        }
        .main__surname {
          font-size: 30px;
        }
        .main__frontend-developer {
          font-size: 16px;
          margin: 15px 20px 25px;
        }
        .main__block-2 {
          margin-top: 0;
        }
        .main__block-2 h2 {
          margin: 50px 0;
        }
        .main_icon {
          margin-bottom: 55px;
        }
        .main__block-2 .button_orange {
          margin-top: 0;
        }
        .main__block-3 {
          margin-top: 100px;
        }
        .main__block-3 h2 {
          margin-bottom: 45px;
        }
        h2 {
          font-size: 30px;
        }
        .block-3_signature {
          font-size: 18px;         
        }
        .main__block-4 h2 {
          font-size: 28px;
          margin-bottom: 50px;
        }
        .star p {
          font-size: 15px;
        }
        .s-grid {
          padding: 50px 20px;
        }
        .footer__top {
          margin: 50px auto;
        }
        .footer__menu {
          margin-bottom: 50px;
        }
        .footer__center_icon {
          margin-bottom: 27px;        
        }
        .footer__bottom {
          padding: 20px 0;
        }
}
@media (max-width: 600px) {
        html {
          font-size: 9px;
        }
        .main__img{
          bottom: 5px;
        }
        .footer__right .button_pink-border {
            width: 270px;
            height: 60px;
            margin-top: 20px;

           font-size: 18px;
           text-align: center;
           color: white;
           background: #ff4e2e;
           border: 0;
        }
}
@media (max-width: 500px) {
        .main__photo-block {
          order: -1;
        }
        html {
          font-size: 9px;
        }
        h2 {
          font-size: 30px;
          text-align: inherit;
        }
        p {
          font-size: 2.2rem;
          line-height: 35px;
        }
        .main__name {
          margin-left: 0;
        }
        .block-3__kids-clothes {
          display: none;
        }
        .popup {
          margin-top: 50px;
          padding: 35px 20px; 
          width: 270px;
          height: 435px;
        }
        .family-name, .telephone-number, .e-mail, .popup-button {
          width: 250px;
          margin-bottom: 30px;
        }
        .popup h2 {
          margin-bottom: 15px;
        }
        .popup .popup-button {
          height: 50px;
        }
}
@media (max-width: 450px) {
        html {
          font-size: 7px;
        }
        .part-do-icons {
          min-width: 320px;
          flex-wrap: wrap;
          margin-bottom: 0;
        }
        .main_icon {
          margin-bottom: 50px;
        }
        .main__block-2 h2 {
          font-size: 30px;
          margin: 40px 0;
        }
        .footer__right .button_pink-border {
          display: block;
          margin: 0;
        }
        .footer__right .button_orange {
          display: none;
        }
        .footer__right div {
          margin-top: 50px;
        }
        .svg {
          width: 100%; 
          height: 100%;
        }
        .main__img {
          width: initial;
        }

}
@media (max-width: 320px) {
        .main__frontend-developer {
          margin-top: 15px;
          padding: 0 30px;
        }
        html {
          font-size: 6px;
        }
        .footer__center {
          margin-top: 30px;
        }
        .main__img {
          left: 60px;
          width: 100%;
          max-width: 196px;
          height: auto;
        }
        .svg {
          width: 120%; 
          height: 120%;
        }
        .header__menu_left {
          max-width: 280px;
        }
}

.div-1 {
  position: absolute;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: transparent;   
  -webkit-background-clip: text;
		
  background-image: linear-gradient(to right top, #ff8f5a, #ff2f96);
}
.d1 {
  transform: rotate(-15deg) translate(370px,-30px) scale(2);
}
.d2 {
  transform: rotate(15deg) translate(650px,80px) scale(2);
}
.d3 {
  transform: rotate(15deg) translate(-70px, 100px) scale(3);
}
.d4 {
  transform: rotate(30deg) translate(-270px, -70px) scale(2.5);
}
.d5 {
  transform: rotate(-30deg) translate(-150px, 350px) scale(2);
}
.div-2 {
  position: absolute;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: white;
}
.d6 {
  transform: rotate(15deg) translate(1000px,-100px) scale(2);
}
.d7 {
  transform: rotate(-15deg) translate(1250px,500px) scale(2.5);
}
.d8 {
  transform: rotate(15deg) translate(-150px,210px) scale(3);
}
.d9 {
  transform: rotate(30deg) translate(-300px,180px) scale(2.5);
}
.d10 {
  transform: rotate(-15deg) translate(1150px,320px) scale(2);
}




@media (max-width: 1024px) {
.d1 {
  transform: rotate(-15deg) translate(815px,-30px) scale(2);
}
.d2 {
  transform: rotate(15deg) translate(350px,-150px) scale(3);
}
.d3 {
  transform: rotate(15deg) translate(100px, 300px) scale(4);
}
.d4 {
  transform: rotate(30deg) translate(-50px, -200px) scale(3.5);
}
.d5 {
  transform: rotate(-30deg) translate(100px, 400px) scale(3);
}
.d6 {
  transform: rotate(15deg) translate(600px,10px) scale(2);
}
.d7 {
  display: none;
}
.d8 {
  display: none;
}
.d9 {
  transform: rotate(30deg) translate(80px,-80px) scale(2);
}
.d10 {
  transform: rotate(-15deg) translate(800px,290px) scale(2);
}
}




@media (max-width: 720px) {
.d1 {
  display: none;
}
.d2 {
  display: none;
}
.d3 {
  display: none;
  }
.d4 {
  display: none;
}
.d5 {
  display: none;
}
.d6 {
  display: none;;
}
.d7 {
  display: none;;
}
.d8 {
  display: none;;
}
.d9 {
  display: none;;
}
.d10 {
  display: none;;
}
}

@media (max-width: 320px) {
  .d1 {
    display: block;
    transform: rotate(-17deg) translate(142px, -342px) scale(1.4);
  }
.d3 {
  display: block;
  transform: rotate(15deg) translate(-30px, -210px) scale(2);
}
.d4 {
  display: block;
  transform: rotate(30deg) translate(-100px, -280px) scale(2);
}
.d5 {
  display: block;
  transform: rotate(-30deg) translate(350px, -230px) scale(1.5);
}